.auth-bg {
  min-height: 100vh;
  background: #5a5a5a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  width: 360px;
  text-align: center;
}

/* LOGO */
.auth-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

.logo-icon {
  font-size: 18px;
}

/* CARTE */
.auth-card-wrapper {
  background: #272525;
  padding: 20px;
  border-radius: 8px;
}

.auth-card {
  background: white;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.auth-card h3 {
  margin-bottom: 30px;
  color: #243a5e;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  margin-bottom: 25px;
}

.auth-card button {
  width: 100%;
  background: #555;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
}

/* BAS DE PAGE */
.auth-bottom {
  margin-top: 15px;
  font-size: 13px;
}

.auth-bottom p {
  margin: 8px 0;
  cursor: pointer;
}

.auth-bottom span {
  color: #f5a300;
  font-weight: 500;
}
